---
import { ClientRouter } from 'astro:transitions';
---

<html lang="en" transition:animate="slide">
	<head>
		<ClientRouter />
		<style is:global>
			:root {
				scroll-behavior: smooth;
			}
			body {
				max-width: 40ch;
				margin: auto;
				padding: 1em;
				font-family: system-ui, sans-serif;
			}
		</style>
		<script>
			document.addEventListener('astro:before-swap', (event) => {
				event.newDocument.documentElement.style.scrollBehavior =
					event.navigationType === 'traverse' ? 'auto' : 'smooth';
				event.viewTransition.updateCallbackDone.finally(() => {
					document.documentElement.style.scrollBehavior = 'smooth';
				});
			});
		</script>
	</head>
	<body><slot /> </body>
</html>
