---
import Layout from './_scrollLayout.astro';
---

<Layout>
		<p>
			This is a demo page for the article about setting instant scroll on history navigation, but
			keeping smooth scroll behavior everywhere else.
		</p>

		<p><a href="#bottom">Scroll down smoothly</a></p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde voluptatem. Nulla,
			adipisci repudiandae aut eaque consequuntur maiores exercitationem accusantium dicta ducimus
			iste, nemo porro quam rem optio suscipit nesciunt.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga nesciunt dolor voluptas
			aliquid cumque, nisi quis delectus hic laudantium, officia similique nostrum sapiente tenetur
			iste deleniti aut earum veritatis?
		</p>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos suscipit aliquid
			reiciendis optio doloribus debitis recusandae accusamus blanditiis. Tenetur doloremque officia
			consequatur facere magnam eos minima soluta cum, at voluptas?
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo odit hic corporis expedita
			aperiam nam, nihil consectetur molestiae rerum itaque? Fugiat obcaecati iure quos cumque error
			sint vitae tenetur. Libero.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde voluptatem. Nulla,
			adipisci repudiandae aut eaque consequuntur maiores exercitationem accusantium dicta ducimus
			iste, nemo porro quam rem optio suscipit nesciunt.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga nesciunt dolor voluptas
			aliquid cumque, nisi quis delectus hic laudantium, officia similique nostrum sapiente tenetur
			iste deleniti aut earum veritatis?
		</p>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos suscipit aliquid
			reiciendis optio doloribus debitis recusandae accusamus blanditiis. Tenetur doloremque officia
			consequatur facere magnam eos minima soluta cum, at voluptas?
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo odit hic corporis expedita
			aperiam nam, nihil consectetur molestiae rerum itaque? Fugiat obcaecati iure quos cumque error
			sint vitae tenetur. Libero.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, unde voluptatem. Nulla,
			adipisci repudiandae aut eaque consequuntur maiores exercitationem accusantium dicta ducimus
			iste, nemo porro quam rem optio suscipit nesciunt.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea fuga nesciunt dolor voluptas
			aliquid cumque, nisi quis delectus hic laudantium, officia similique nostrum sapiente tenetur
			iste deleniti aut earum veritatis?
		</p>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos suscipit aliquid
			reiciendis optio doloribus debitis recusandae accusamus blanditiis. Tenetur doloremque officia
			consequatur facere magnam eos minima soluta cum, at voluptas?
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo odit hic corporis expedita
			aperiam nam, nihil consectetur molestiae rerum itaque? Fugiat obcaecati iure quos cumque error
			sint vitae tenetur. Libero.
		</p>
		<a id="bottom" href="/tips/scrolla/#bottom">Navigate to the bottom of another page</a><br />
		<a href="/tips/scrolla/">Navigate to the top of another page</a><br />
		<p></p>
		</Layout>
