---
import '../styles/view-transition.css';
---

<html>
	<head>
		<meta charset="utf-8" />
		<style is:global>
			section * {
				padding: 0;
				margin: 0;
				font-family: fantasy;
				font-size: 13vmin;
			}
		</style>
		<script is:inline>
			addEventListener('pageswap', (e) =>
				sessionStorage.setItem(
					'falseStart',
					e.activation?.from?.url === e.activation?.entry?.url ? 'Y' : 'N'
				)
			);
			addEventListener(
				'pagereveal',
				(e) =>
					sessionStorage.getItem('falseStart') === 'Y' && e.viewTransition?.types.add('falseStart')
			);
		</script>
	</head>
	<body>
		<section>
			<slot />
		</section>
	</body>
</html>
