---
import Layout from './_Layout.astro';
---

<Layout>
	<a id="rocket" href=".">🚀</a>
	<a style="view-transition-name: back" href="../page1/">Back to Base...</a>
	<style>
		#rocket {
			display: inline-block;
			position: fixed;
			top: 5vmin;
			right: 100px;
			transform: rotate(-45deg) scale(0.7);
			text-decoration: none;
		}
		a:not(#rocket) {
			display: inline-block;
			position: fixed;
			top: calc(1.39 * 12.5vmin);
			right: 50px;
			background-color: light-dark(lightgreen, darkgreen);
			font-size: 12.5vmin;
		}
	</style>
</Layout>
