---
import Layout from './_Layout.astro';
---

<Layout>
	<a id="rocket" href=".">🚀</a>
	<a style="view-transition-name: level-up" href="../page2/">Level Up!</a>
	<style>
		#rocket {
			display: inline-block;
			position: fixed;
			bottom: calc(1.625 * 13vmin);
			left: 100px;
			transform: rotate(-45deg) scale(1.5);
			text-decoration: none;
		}
		a:not(#rocket) {
			display: inline-block;
			position: fixed;
			bottom: 6vmin;
			left: 50px;
			background-color: light-dark(lightblue, darkblue);
		}
	</style>
</Layout>
