---
import { ViewTransitions } from 'astro:transitions';
import Mini from './Mini.astro'
---
<html>
	<head>
		<ViewTransitions />
	</head>
	<body>
		<h1>Heading</h1>
		<a href="/">Link</a>
		<Mini />
	</body>
</html>
