---
import { ViewTransitions } from 'astro:transitions';
import BrakePad from 'astro-vtbot/components/BrakePad.astro';
import Mini from './Mini.astro';
---

<html>
	<head>
		<ViewTransitions />
		<BrakePad production />
	</head>
	<body>
		<main transition:name="main">
			<h1>Heading</h1>
			<a href="/">Link</a>
			<Mini />
		</main>
	</body>
</html>
