---
import { ClientRouter } from 'astro:transitions';
import A from 'astro-vtbot/components/BackLink.astro';
import Mini from './Mini.astro';
---

<html>
	<head>
		<ClientRouter />
	</head>
	<body>
		<main transition:name="main">
			<h1>Heading</h1>
			<A href="/">Link</A>
			<Mini />
		</main>
	</body>
</html>
