---
import { ClientRouter } from 'astro:transitions';
import LoadingIndicator from 'astro-vtbot/components/LoadingIndicator.astro';
import Mini from './Mini.astro';
---

<html>
	<head>
		<ClientRouter />
		<LoadingIndicator />
	</head>
	<body>
		<main transition:name="main">
			<h1>Heading</h1>
			<a href="/">Link</a>
			<Mini />
		</main>
	</body>
</html>
