---
import { ClientRouter } from 'astro:transitions';
import { customMove } from 'astro-vtbot/animations/move';
import Mini from './Mini.astro';
const scope = customMove('swing', {});
---

<html>
	<head>
		<ClientRouter />
	</head>
	<body>
		<main transition:name="main">
			<h1 data-astro-scope={scope}>Heading</h1>
			<a href="/">Link</a>
			<Mini />
		</main>
	</body>
</html>
