---
import { ViewTransitions } from 'astro:transitions';
import { customSwing } from 'astro-vtbot/animations/swing'
import Mini from './Mini.astro'
const scope = customSwing("swing",{})
---
<html>
	<head>
		<ViewTransitions />
	</head>
	<body>
		<h1 data-astro-scope={scope}>Heading</h1>
		<a href="/">Link</a>
		<Mini />
	</body>
</html>
