---
import { ViewTransitions } from 'astro:transitions';
import { zoom } from 'astro-vtbot/animations/zoom'
import Mini from './Mini.astro'
---
<html>
	<head>
		<ViewTransitions />
	</head>
	<body>
		<h1 transition:animate={zoom()}>Heading</h1>
		<a href="/">Link</a>
		<Mini />
	</body>
</html>
