---
import { ClientRouter } from 'astro:transitions';
import { zoom } from 'astro-vtbot/animations/zoom';
import Mini from './Mini.astro';
---

<html>
	<head>
		<ClientRouter />
	</head>
	<body>
		<main transition:name="main">
			<h1 transition:animate={zoom()}>Heading</h1>
			<a href="/">Link</a>
			<Mini />
		</main>
	</body>
</html>
