@property --vtbot-bg-color {
	syntax: '<color>';
	inherits: true;
	initial-value: #102030;
}
@property --sl-color-text {
	syntax: '<color>';
	inherits: true;
	initial-value: #102030;
}
/*
:root {
  --sl-content-width: calc(100vw - 0.3 * var(--sl-sidebar-pad-x) - 2 * var(--sl-sidebar-width));
}*/
:root {
	transition: --vtbot-bg-color 0.5s;
}
:root[loading] * {
	cursor: progress;
}
body {
	text-align: left;
	hyphens: auto;
	--sl-line-height: 1.5;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #3b1a00;
	--sl-color-accent: #998877;
	--sl-color-accent-high: #a98b6c;
	--sl-color-white: #ddccbb;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353851;
	--sl-color-gray-6: #14171f;
	--sl-color-gray-6-rgb: 4, 23, 47;
	--sl-color-black: #101010;
	--vtbot-bg-color: #101820;
	--vtbot-glow: radial-gradient(circle, #103050 50%, #081828 100%);
	--vtbot-glow-shadow: 0 0 10px #08f, 0 0 20px #08f, 0 0 30px #08f, 0 0 40px #08f;

	--sl-color-purple-low: #19052b;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #fbccad;
	--sl-color-accent: #a09080;
	--sl-color-accent-high: #908570;
	--sl-color-white: #606060;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #e0f0ff;
	--sl-color-gray-6-rgb: 224, 240, 255;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
	--vtbot-bg-color: #e8f0f8;
	--vtbot-glow: radial-gradient(circle, #c0d0e0 50%, #d8e8f8 100%);
	--vtbot-glow-shadow: 0 0 20px #cccc, 0 0 40px #ca88, 0 0 50px #c966, 0 0 60px #c844;

	--sl-color-purple-low: #e6d1f9;
}

header,
main,
.sidebar-pane,
.right-sidebar {
	background-color: var(--vtbot-bg-color);
}

section.footnotes:before {
	content: 'Footnotes:';
	margin-top: 0.5em;
	display: block;
}
sup {
	font-size: 0.6em;
	vertical-align: super;
	line-height: 0;
	margin-left: 0.2em;
	margin-right: 0.2em;
}
section.footnotes {
	border-top: 1px solid var(--sl-color-gray-4);
}

h2 a,
h3 a,
h4 a {
	text-decoration: none;
}

:root[data-theme='light'] main ::target-text {
	background-color: yellow;
	color: #000;
}

:root[data-theme='dark'] main ::target-text {
	background-color: darkslateblue;
	color: #fff;
}

.sl-markdown-content code:not(:where(.not-content *)) {
	background-color: #8883;
	padding: 0 0;
	font-size: 11pt;
}

nav ::-webkit-scrollbar {
	width: 8px;
}
nav ::-webkit-scrollbar {
	background-color: var(--vtbot-bg-color);
}
nav ::-webkit-scrollbar-thumb {
	background-color: var(--vtbot-bg-color);
}
nav:hover ::-webkit-scrollbar {
	background-color: var(--sl-color-gray-6);
}
nav:hover ::-webkit-scrollbar-thumb {
	background-color: var(--sl-color-gray-5);
}

starlight-menu-button button {
	background-color: var(--sl-color-gray-3);
}

li a[aria-current='page']:hover,
li a[aria-current='page']:focus,
li a[aria-current='page'] {
	background-color: var(--sl-color-gray-5);
	color: var(--sl-color-gray-2);
}

html, body {
  overscroll-behavior: none;
}
