---
import favicon from 'astro-vtbot/assets/bag-of-tricks.svg?raw';
import VtbotPanel from '../components/bot/VtbotPanel.astro';

const url = 'data:image/svg+xml,' + encodeURIComponent(favicon);
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/svg+xml" href={url} />
	<title></title>
	<meta name="astro-view-transitions-enabled" content="true" />
</head>
<body>
	<canvas id="canvas"></canvas>
	<iframe id="vtbot-main-frame" src="/"></iframe>
	<div id="divider" class="divider"></div>
	<VtbotPanel />
	<style is:inline>
		:root {
			--vtbot-panel-height: 226px;
			--vtbot-panel-width: 200px;
		}
		#canvas {
			position: absolute;
			top:0;
			left:0;
			height: calc(100vh - var(--vtbot-panel-height));
			width: 100vw;
		}
		:root.vtbot-ui-column #canvas {
			width: calc(100vw - var(--vtbot-panel-width));
			height: 100vh;
		}

		#vtbot-main-frame {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: calc(100vh - var(--vtbot-panel-height));
			border: none;
		}
		#vtbot-ui-panel {
			position: fixed;
			right: 1px;
			bottom: 0;
			right: 0;
		}
		#vtbot-ui-panel,
		#vtbot-ui-panel ~ button {
			animation: slide-from-bottom 0.5s both;
		}

		#divider {
			position: fixed;
			height: 4px;
			width: 100vw;
			right: 0;
			bottom: var(--vtbot-panel-height);
		}

		:root.vtbot-ui-column {
			#divider:hover,
			:root.dragging #divider {
				cursor: ew-resize;
				background-color: darkolivegreen;
			}
		}
		:root:not(.vtbot-ui-column) {
			#divider:hover,
			:root.dragging #divider {
				cursor: ns-resize;
				background-color: darkolivegreen;
			}
		}

		:root.vtbot-ui-column {
			#vtbot-main-frame {
				height: 100vh;
				width: calc(100vw - var(--vtbot-panel-width));
			}

			#vtbot-ui-panel,
			#vtbot-ui-panel ~ button {
				animation: slide-from-right 0.5s both;
			}
			#divider {
				width: 4px;
				height: 100vh;
				right: var(--vtbot-panel-width);
				bottom: 0;
			}
		}

		@keyframes slide-from-bottom {
			from {
				transform: translateY(var(--vtbot-panel-height));
			}
		}

		@keyframes slide-from-right {
			from {
				transform: translateX(var(--vtbot-panel-width));
			}
		}
	</style>
</body>
