---
import { Image } from 'astro:assets';
import Layout from 'src/layouts/Layout.astro';
import fi from 'src/assets/big-fi.png';
import ch from 'src/assets/ch.png';
import bot from 'astro-vtbot/assets/bag-of-tricks.svg';
import dtb from 'src/assets/devToolbar.png';
---

<Layout title="Welcome to the Bag of Tricks for Astro's View Transitions">
	<script slot="head" type="application/ld+json" data-vtbot-linter="ignore" is:inline>
		{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"name": "Bag of Tricks for Astro's View Transitions",
			"alternateName": ["Bag of Tricks", "Bag of Tricks for Astro's View Transitions", "vtbot"],
			"url": "https://events-3bg.pages.dev/"
		}
	</script>

	<meta slot="head" property="og:site_name" content="Bag of Tricks for Astro's View Transitions" />
	<meta
		slot="head"
		property="og:title"
		content="Welcome to the Bag of Tricks for Astro's View Transitions"
	/>
	<meta
		slot="head"
		name="description"
		content="Reusable components, tech demos, and a wealth of in-depth information on Astro's view transitions"
	/>
	<meta slot="head" property="twitter:card" content="summary_large_image" />

	<meta slot="head" name="robots" content="index, follow" />
	<meta slot="head" property="og:type" content="website" />
	<meta slot="head" property="og:image" content="https://events-3bg.pages.dev/social.png" />
	<meta slot="head" property="og:url" content="https://events-3bg.pages.dev/" />
	<meta
		slot="head"
		property="og:description"
		content="Reusable components, tech demos, and a wealth of in-depth information on Astro's view transitions"
	/>
	<meta slot="head" property="og:locale" content="en_US" />

	<Image id="fi" src={fi} alt="A single fish" transition:animate="slide" transition:name="fi" />
	<Image id="dtb" src={dtb} alt="devToolbar" transition:name="dtb" />
	<h1 class="massive">
		Welcome to the <br />
		<span class="bang"
			><Image transition:name="bot" id="bot" src={bot} alt="A bag of tricks" />
			<span class="grad">Bag of Tricks</span>
		</span>
		<br /> for Astro's <s>View Tran&shy;si&shy;tions</s>
		<a href="/jotter/history/#level-4-browser-native-cross-document">Client<Image id="ch" src={ch} alt="Click Here" transition:name="ch" />Router</a
		>
	</h1>
</Layout>
<div id="outer">
	<div id="new">
		<script>
			setTimeout(
				() =>
					document.getElementById('later')?.insertAdjacentHTML(
						'beforeend',
						`<img
				alt="npm"
				id="badge"
				src="https://img.shields.io/npm/v/astro-vtbot?style=plastic&logo=npm&label=astro-vtbot&color=rgba(0%2C200%2C200%2C0.5)"
			/>`
					),
				1000
			);
		</script>
		<a id="later" href="https://www.npmjs.com/package/astro-vtbot">Install from npm!<br /> </a>
	</div>
</div>
<a href="/components/" transition:name="reuse">Reusable Components</a>
<a href="/demos/" transition:name="demos">Tech Demos</a><br />
<a href="/jotter/" data-astro-reload transition:name="jotter">The Jotter</a>
<a id="vtbag" href="https://vtbag.pages.dev"
	><div style="display: inline-block; width: 35%">@vtbag</div><div
		style="font-size:min(2vh,2vw); width:65%; display: inline-block"
	>
		View Transition Tricks<br /> independent of Astro
	</div></a
>

<div class="fancy">&nbsp;</div>
<div
	style="font-size:min(5vw,5vh); color: white; position:fixed; bottom:20vh; transform: rotateZ(90deg); right: 6vw; transform-origin: bottom right; z-index:40"
>
	⭐ Star <a
		style="text-decoration: dotted underline; color: coral"
		href="https://github.com/martrapp/astro-vtbot"><code>astro-vtbot</code></a
	> on GitHub
</div>

<style is:global>
	body {
		margin: 1.5em 2em;
	}
	body > a {
		font-family: sans-serif;
		display: inline-block;
		font-size: min(4.5vh, 4.5vw);
		font-weight: 800;
		background: linear-gradient(330deg, #8f681080, rgba(255, 127, 80, 0.5));
		color: #3333;
		border-radius: 10px;
		padding: 1ex;
		margin-left: 2ex;
		margin-top: 1ex;
		text-decoration: none;
		width: 13em;
		box-shadow: -1px -1px 2px 0px white;
		text-shadow:
			1px 1px 1px #000c,
			2px 2px 2px rgba(255, 127, 80, 0.5);
	}
	#vtbag {
		background: linear-gradient(330deg, #6fa61080, rgba(127, 255, 80, 0.5));
	}
	html {
		background: linear-gradient(330deg, #000, rgb(22, 54, 66));
		overflow: hidden;
	}
	body {
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	::view-transition-new(root),
	::view-transition-old(root) {
		animation-duration: 0.5s;
	}
	::view-transition-new(dtb) {
		animation: 1s ease-out both from-bottom;
	}
	@keyframes from-bottom {
		from {
			transform: translateY(100%);
		}
	}
</style>

<style is:global>
	h1 {
		margin: 0;
	}
	#badge {
		height: min(4vh, 4vw);
		margin: 0.5rem 0;
	}
	#outer {
		background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
		border: 9px dotted orange;
		position: absolute;
		bottom: 5vh;
		left: 50vw;
		transform: rotateZ(5deg) translateX(-50%);
		border-radius: 50px;
		z-index: 30;
		transition: all 0.5s ease-in-out;
	}

	#new {
		border-radius: 50px;
		background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
		display: inline-block;
		padding: 1ex;
		color: #cff;
		font-weight: bolder;
		font-size: min(4vh, 4vw);
		font-family: sans-serif;
		border: dotted 7px rgba(256, 165, 0, 0.5);
	}

	h1 a {
		color: #abc;
	}
	#new a {
		color: #cff;
		text-decoration: dotted underline;
	}
	/* Conic gradient */
	.fancy::before {
		content: '';
		background: conic-gradient(transparent 270deg, rgba(255, 255, 255, 0.3), transparent);
		position: absolute;
		left: -5%;
		aspect-ratio: 1;
		width: 400%;
		animation: rotate 5s linear infinite;
		z-index: -10;
	}

	@keyframes rotate {
		from {
			transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
		}

		to {
			transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
		}
	}

	#fi {
		z-index: -1;
		position: fixed;
		bottom: 20vh;
		left: 0;
		width: min(25vh, 25vw);
		height: auto;
		transform: rotateY(0deg);
		transition: all 0.5s ease-in-out;
	}

	#ch {
		z-index: -1;
		position: absolute;
		width: min(15vh, 15vw);
		height: auto;
		transform: translate(-190%, -50%) rotateZ(30deg);
		transition: all 0.5s ease-in-out;
	}
	#bot {
		height: 2.5ex;
		width: auto;
		display: inline-block;
		vertical-align: text-top;
	}

	#dtb {
		position: fixed;
		width: 300px;
		height: auto;
		bottom: 0px;
		right: 50vw;
		transform: translateX(150px);
	}
	.massive {
		color: #abc;
		padding: 1ex 1.5ex;
		font-size: min(7vh, 7vw);
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		text-shadow: 0.1ex 0.1em 0.1em rgba(0, 0, 0, 0.7);
	}
	html .bang {
		padding: 0.5ex 0;
		display: inline-block;
		font-size: min(9vw, 20vh);
	}
	.grad {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		background-image: linear-gradient(45deg, coral, #8f6810 30%, coral 90%);
		background-size: 10%;
		background-repeat: repeat;
		text-shadow: 0.1ex 0.1em 0.1em rgba(0, 0, 0, 0.2);
	}
	@media screen and (min-aspect-ratio: 1/1.1) {
		#fi {
			left: 75vw;
			bottom: 75vh;
			transform: rotateY(180deg);
		}
		#outer {
			left: 70vw;
			transform: rotateZ(5deg) translateX(0);
		}
	}
</style>
