---
import StarlightPageTitle from '@astrojs/starlight/components/PageTitle.astro';
import LastUpdated from './LastUpdated.astro';
import { customSwing } from 'astro-vtbot/animations/swing';
import AnimationStyle from 'astro-vtbot/animations/AnimationStyle.astro';
import ReadyToFinished from 'astro-vtbot/components/ReadyToFinished.astro';

const swingScope = customSwing('head-last-update', {
	keyframes: { axis: { y: 1 }, angle: { leave: '90deg', enter: '-90deg' } },
	base: { duration: '400ms' },
	extensions: {
		forwards: {
			old: { 'transform-origin': 'center left' },
			new: { 'transform-origin': 'center right', 'animation-delay': '0.5s' },
		},
		backwards: {
			old: { 'transform-origin': 'center right' },
			new: { 'transform-origin': 'center left', 'animation-delay': '0.5s' },
		},
	},
});
/* ReadyToFinish:
Ensure a minimal interval from viewTransition.ready to viewTransition.finish
Should be a bit more than 2/3 SidebarSelect duration
*/
---

<ReadyToFinished duration="0.333s" />

<div id="vtbot-head-last-update" data-astro-transition-scope={swingScope}>
	<LastUpdated />
</div>

<StarlightPageTitle><slot /></StarlightPageTitle>

<AnimationStyle name="head-last-update" />

<style is:global>
	#vtbot-head-last-update {
		color: gray;
	}
</style>
<style is:global>
	::view-transition-image-pair(head-last-update) {
		perspective: 50cm;
	}
</style>
