---
import MdxLayout from 'src/layouts/MdxLayout.astro';
import ProgressBar from 'astro-vtbot/components/ProgressBar.astro';
import BrakePad from 'astro-vtbot/components/BrakePad.astro';
---
<MdxLayout>
	<ProgressBar />
	<BrakePad duration={3000} />
	<h1>This is Page One</h1>
	<p>Now go build something great...</p>
	<a href="../two/">Click</a>
</MdxLayout>

<style is:global>
	.swup-progress-bar {
			background-color: rgb(240, 171, 252)
	}
</style>
