---
import favicon from 'astro-vtbot/assets/bag-of-tricks.svg?raw';
import VtbotPanel from './VtbotPanel.astro';

const url = 'data:image/svg+xml,' + encodeURIComponent(favicon);
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/svg+xml" href={url} />
	<title></title>
</head>
<body>
	<iframe id="vtbot-main-frame"/>
	<VtbotPanel />
</body>
<style is:inline>
	#vtbot-main-frame {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: calc(100vh - 200px);
		border: none;
	}
	#vtbot-ui-panel {
		position: fixed;
		right:1px;
		bottom:0;
	}
	:root.vtbot-ui-column {
		#vtbot-ui-panel {
			bottom: 0;
		}
		#vtbot-main-frame {
			height: 100vh;
			width: calc(100vw - 200px);
		}
	}
</style>
