
::view-transition {
	outline: 1vmin solid darkred;
}
::view-transition-group(*) {
	outline: 1vmin dotted darkgoldenrod;
}
::view-transition-image-pair(*) {
	outline: 1vmin dotted darkgray;
}
::view-transition-old(*) {
	outline: 1vmin dashed darkslateblue;
}
::view-transition-new(*) {
	outline: 1vmin dashed darkolivegreen;
}
