/* assign view transition names */
:root {
	view-transition-name: none;
}
#level-up {
	view-transition-name: level-up;
}


/* Shake the whole viewport */
::view-transition {
	animation-name: shake;
	animation-duration: 500ms;
	animation-delay: 750ms;
}

/*
 *  LEVEL-UP
 */

/* This would work for the level-up images, but we uniquely use the view transition type falseStart, see below
::view-transition-old(level-up),
::view-transition-new(level-up) {
	animation-name: shake;
	transform-origin: 30%;
	animation-iteration-count: 2;
}
::view-transition-old(level-up):only-child {
	animation-name: level-up-exit;
	animation-iteration-count: 1;
}
::view-transition-new(level-up):only-child {
	animation-name: level-up-entry;
	animation-iteration-count: 1;
}
*/

/* We ignore the image pair with two children here, relying on types below */
::view-transition-old(level-up) {
	animation-name: level-up-exit;
}
::view-transition-new(level-up) {
	animation-name: level-up-entry;
}
@keyframes level-up-exit {
	50%,
	100% {
		transform: translate(-100vw, 0) scale(0.2);
	}
}
@keyframes level-up-entry {
	0%,
	50% {
		transform: translateX(-100vw) scale(0.2);
	}
}

/*
 *	BACK
 */
#back {
	view-transition-name: back;
}
::view-transition-new(back) {
	animation-name:
		back-entry,
		-ua-view-transition-fade-in;
}
::view-transition-old(back) {
	animation-name:
		back-entry,
		-ua-view-transition-fade-out;
	animation-direction: reverse, normal;
}

@keyframes back-entry {
	0% {
		transform: translate(100vw, 60vh) scale(0.2);
	}
	50% {
		transform: translate(0vw, 60vh) scale(0.5);
	}
}
/* omitted in favor of reversed entry

@keyframes back-exit {
	50% {
		transform: translateY(60vh) scale(0.5);
	}
	100% {
		transform: translate(100vw, 60vh) scale(0.2);
	}
}
*/

/*
 *	ROCKET
 */
#rocket {
	view-transition-name: rocket;
}
::view-transition-group(rocket) {
	z-index: 1;
}
[data-title='page1']::view-transition-image-pair(rocket) {
	animation-name: rocket-flight-to-page-1;
}
[data-title='page2']::view-transition-image-pair(rocket) {
	animation-name: rocket-flight-to-page-2;
}

@keyframes rocket-flight-to-page-2 {
	25% {
		transform: rotate(90deg) translate(-20vw, -20vh);
	}
	75% {
		transform: translate(0vw, 10vh);
	}
}
@keyframes rocket-flight-to-page-1 {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translate(0vw, 40vh) rotate(135deg);
	}
	30% {
		transform: translate(0vw, 20vh) rotate(0deg);
	}
	75% {
		transform: translate(20vw, -10vh) rotate(-60deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/*
 *	SHAKE
 */
@keyframes shake {
	25%,
	75% {
		transform: rotate(10deg);
	}
	50% {
		transform: rotate(-10deg);
	}
}

/* Fixing false starts.
 * Using types this way only works if some JavaScript code that sets the type
 */
:active-view-transition-type(falseStart) {
	&::view-transition-group(*) {
		animation-duration: 0.3s;
	}
	&::view-transition-old(level-up),
	&::view-transition-new(level-up) {
		animation-name: shake;
		transform-origin: 30%;
		animation-iteration-count: 2;
	}
	&::view-transition-image-pair(back) {
		animation-name: shake;
		transform-origin: 80%;
		animation-iteration-count: 2;
	}
	&::view-transition-old(back),
	&::view-transition-new(back),
	&::view-transition-image-pair(rocket) {
		animation-name: none;
	}
	&::view-transition {
		animation: none;
	}
	&::view-transition-group(rocket) {
		z-index: initial;
	}
}


a {
	view-transition-class: starter;
}
#rocket {
	view-transition-class: initial;
}
::view-transition-new(.starter),
::view-transition-old(.starter) {
	box-shadow: 0px 0px 16px 8px rgba(255, 128, 128, 1);
}
