---
import VtBotDebug from 'astro-vtbot/components/VtBotDebug.astro';
import MdxLayout from './MdxLayout.astro';
import BrakePad from 'astro-vtbot/components/BrakePad.astro';
interface Props {
	title: string;
	background: string;
}
const { title } = Astro.props;
---

<MdxLayout title={title}>
	<VtBotDebug production slot="head" />
	<BrakePad />
	<link rel="icon" href="/favicon.svg" slot="head" />
	<main transition:animate="fade">
		<h1>{title}</h1>
		<h3>Open the browser console to see the debug information</h3>

		<p>
			This is a page with some text and a link to another page. That next page will take really long
			to load. Therefore a loading indicator will appear.
		</p>
		<slot />
		<div style="height:100vh"></div>
	</main>
</MdxLayout>


<style is:global>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	html:view-transition(root) {
		animation-duration: 0s;
	}
</style>
