# Sample workflow for building and deploying an Astro site to GitHub Pages
#
# To get started with Astro see: https://docs.astro.build/en/getting-started/
#
name: Build

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "18"
          cache: npm
          cache-dependency-path: ./package-lock.json

      - name: Cache .astro
        uses: actions/cache@v5
        with:
          path: ./node_modules
          key: astro-cache-${{ github.run_id }}
          restore-keys: astro-cache

      - name: Install dependencies
        run: npm install

      - name: Build with Astro
        run: npm run build

